body{
  font-size: 20px;
}

h1 {
  text-align: center;
}

button{
  margin: 5px;
}

.warning{
  font-style: bold;
  color: red;
}

.mainPage{
  box-shadow: 2px 2px 10px gray;
  background-color: lightgray;
}

.border{
  border: solid;
  box-shadow: 2px 2px 10px;
  margin: 10px;
}

#listStyle{
  box-shadow: 5px 5px 10px;
  border: solid gray;
}
