<h2> This is the About page! </h2>

<p> Question/Answer Board is a site made to answer all the questions out there!
Simply write a question, and other people will answer it! Or, you can answer others questions! So many possibilities with one simple site.
</p>

<p> Created by: Garrett Boggs </p>
