<h1> Welcome to Question/Answer Board </h1>

<ul>
  {{#each model as |question|}}
     <li>{{question.author}}</li>
     {{#link-to 'question' question.id}} <li>{{question.content}}</li>
     {{/link-to}}
     <li>{{question.notes}}</li>
  {{/each}}
</ul>

{{new-question saveQuestion="saveQuestion"}}
