<h1> Welcome to Question/Answer Board </h1>

<ul>
  {{#each model.questions as |question|}}
     {{question-tile question=question update="update"}}
  {{/each}}
</ul>

{{new-answer saveAnswer="saveAnswer" question=model}}

{{new-question saveQuestion="saveQuestion"}}
