<h1> Welcome to Question/Answer Board </h1>

<ul>
  {{#each model.questions as |question|}}
    {{question-tile question=question update="update" destroyQuestion="destroyQuestion"}}
    {{question-empty question}}
  {{/each}}
</ul>

{{display-favorites}}

{{new-question saveQuestion="saveQuestion"}}
